h1 {
    background-color: rgb(31, 31, 233);
    color: rgb(182, 122, 12);
}

.a { 
    color: rgba(6, 6, 172, 0.973);
}

.aa {
    color: rgb(9, 158, 54);
}
.aaa {
    background-color: rgb(190, 175, 175);
}